<a href="https://colab.research.google.com/github/ss-ghule/kaggle_predicting_molecular_properties/blob/master/c4_w4_model_deployment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Implemented in Google Colaboratory 
### (Github: https://github.com/ss-ghule/kaggle_predicting_molecular_properties.git)

## Step-1: Download Model and Test data

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras
import pickle
%matplotlib inline

In [8]:
test=pd.read_csv('/content/drive/My Drive/Non-Project/Data/test_feat_eng_v2_orig_my_ext_std.csv')
test.head()

        id     molecule_name  ...  mulliken_atom_0  mulliken_atom_1
0  4658147  dsgdb9nsd_000004  ...         1.897446        -0.689773
1  4658148  dsgdb9nsd_000004  ...         1.897446        -0.689773
2  4658149  dsgdb9nsd_000004  ...         1.897446         1.033461
3  4658150  dsgdb9nsd_000004  ...         1.897446        -0.689773
4  4658151  dsgdb9nsd_000004  ...         1.897446        -0.689773

[5 rows x 47 columns]

In [9]:
test.shape

(2505542, 47)

In [10]:
model_dnn=tf.keras.models.load_model('/content/drive/My Drive/Non-Project/kaggle_model_dnn_exp_2.h5',
    custom_objects=None,
    compile=True
)

WARNING: Logging before flag parsing goes to stderr.
W0819 19:35:03.403361 140160575367040 deprecation.py:506] From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/init_ops.py:97: calling GlorotUniform.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
W0819 19:35:03.405134 140160575367040 deprecation.py:506] From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
W0819 19:35:03.407849 140160575367040 deprecation.py:506] From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/init_ops.py:97: calling Zeros.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
W0819 19:35:06.877943 140160575367040 hdf5_format.py:221] No training configuration found in save file: the model was *not* compiled. Compile it manually.

### Remove unwanted columns from test set

In [0]:
drop_cols=['id', 'molecule_name','atom_0','atom_1','type', 'pairs','bond','mulliken_charge_0','mulliken_charge_1']

In [14]:
test.drop(drop_cols,axis=1,inplace=True)
test.head()

   atom_index_0  atom_index_1  ...  mulliken_atom_0  mulliken_atom_1
0             2             0  ...         1.897446        -0.689773
1             2             1  ...         1.897446        -0.689773
2             2             3  ...         1.897446         1.033461
3             3             0  ...         1.897446        -0.689773
4             3             1  ...         1.897446        -0.689773

[5 rows x 38 columns]

In [15]:
test.shape

(2505542, 38)

## Step-2: Make predictions from model

In [16]:
test_predictions=model_dnn.predict(test,verbose=1,batch_size=10000)
test_predictions[:10]

2505542/2505542 [==============================] - 4s 2us/sample

array([[  2.0758033 ],
       [142.82864   ],
       [ -0.86928594],
       [138.73883   ],
       [  2.9163547 ],
       [ 81.635155  ],
       [  2.5056806 ],
       [ -9.135171  ],
       [ -9.423362  ],
       [ 83.45984   ]], dtype=float32)

In [17]:
test_predictions.shape

(2505542, 1)

## Step-3: Create Sample Submission

In [18]:
sample_submission=pd.read_csv('/content/drive/My Drive/Non-Project/Data/sample_submission.csv')
sample_submission.head()

        id  scalar_coupling_constant
0  4658147                         0
1  4658148                         0
2  4658149                         0
3  4658150                         0
4  4658151                         0

In [19]:
sample_submission['scalar_coupling_constant']=test_predictions
sample_submission.head()

        id  scalar_coupling_constant
0  4658147                  2.075803
1  4658148                142.828644
2  4658149                 -0.869286
3  4658150                138.738831
4  4658151                  2.916355

In [0]:
sample_submission.to_csv('sample_submission_demo.csv',index=False)