<a href="https://colab.research.google.com/github/ss-ghule/kaggle_predicting_molecular_properties/blob/master/c4_w4_model_train_eval.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Training & Evaluation

## ##Training & Evaluation is currently being carried out in google Colaboratory due to less free resources available in IBM watson studio

# Download Data

In [0]:
# The code was removed by Watson Studio for sharing.

In [0]:
'''
from ibm_botocore.client import Config
import ibm_boto3
def download_file_cos(credentials,local_file_name,key):  
    cos = ibm_boto3.client(service_name='s3',
    ibm_api_key_id=credentials['IBM_API_KEY_ID'],
    ibm_service_instance_id=credentials['IAM_SERVICE_ID'],
    ibm_auth_endpoint=credentials['IBM_AUTH_ENDPOINT'],
    config=Config(signature_version='oauth'),
    endpoint_url=credentials['ENDPOINT'])
    try:
        res=cos.download_file(Bucket=credentials['BUCKET'],Key=key,Filename=local_file_name)
    except Exception as e:
        print(Exception, e)
    else:
        print('File Downloaded')
'''

In [1]:
#download_file_cos(credentials_2,'train_feat_eng.csv','train_feat_eng.csv')
#ownload_file_cos(credentials_2,'test_feat_eng.csv','test_feat_eng.csv')
#download_file_cos(credentials_2,'sample_submission.csv','sample_submission.csv')
!ls

dipole_moments.csv.zip		       structures.csv.zip
kaggle.json			       structures.zip
magnetic_shielding_tensors.csv.zip     test.csv.zip
mulliken_charges.csv.zip	       test_etl.csv
potential_energy.csv.zip	       test_feat_eng_v2.csv
sample_data			       train.csv.zip
sample_submission.csv.zip	       train_etl.csv
scalar_coupling_contributions.csv.zip  train_feat_eng_v2.csv

# Dowload Data

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras
import pickle
%matplotlib inline

In [2]:
tf.__version__

'1.14.0'

In [3]:
train=pd.read_csv('train_feat_eng_v2_with_bonds.csv')
train.head()

   atom_index_0  atom_index_1  ...  bond_int  scalar_coupling_constant
0             1             0  ...         1                   84.8076
1             1             2  ...         1                  -11.2570
2             1             3  ...         1                  -11.2548
3             1             4  ...         1                  -11.2543
4             2             0  ...         1                   84.8074

[5 rows x 39 columns]

In [4]:
train.shape

(4658147, 39)

In [5]:
test=pd.read_csv('test_feat_eng_v2_with_bonds.csv')
test.head()

   atom_index_0  atom_index_1       x_0  ...  mulliken_atom_1  pairs_enc  bond_int
0             2             0 -1.661639  ...        -0.207019          2         1
1             2             1 -1.661639  ...        -0.207019         11         1
2             2             3 -1.661639  ...         0.207019         11         1
3             3             0  1.661639  ...        -0.207019         11         1
4             3             1  1.661639  ...        -0.207019          2         1

[5 rows x 39 columns]

In [6]:
test.shape

(2505542, 39)

In [7]:
train.columns

Index(['atom_index_0', 'atom_index_1', 'x_0', 'y_0', 'z_0', 'x_1', 'y_1',
       'z_1', 'distance', 'type_enc', 'atom_1_enc', 'atom_0_enc', 'rc_A',
       'rc_B', 'rc_C', 'mu', 'alpha', 'homo', 'lumo', 'gap', 'r2', 'zpve',
       'U0', 'U', 'H', 'G', 'Cv', 'freqs_min', 'freqs_max', 'freqs_mean',
       'linear', 'mulliken_min', 'mulliken_max', 'mulliken_mean',
       'mulliken_atom_0', 'mulliken_atom_1', 'pairs_enc', 'bond_int',
       'scalar_coupling_constant'],
      dtype='object')

In [8]:
test.drop('scalar_coupling_constant',axis=1,inplace=True)
test=test[['atom_index_0', 'atom_index_1', 'x_0', 'y_0', 'z_0', 'x_1', 'y_1',
       'z_1', 'distance', 'type_enc', 'atom_1_enc', 'atom_0_enc', 'rc_A',
       'rc_B', 'rc_C', 'mu', 'alpha', 'homo', 'lumo', 'gap', 'r2', 'zpve',
       'U0', 'U', 'H', 'G', 'Cv', 'freqs_min', 'freqs_max', 'freqs_mean',
       'linear', 'mulliken_min', 'mulliken_max', 'mulliken_mean',
       'mulliken_atom_0', 'mulliken_atom_1', 'pairs_enc', 'bond_int',]]
test.head()

   atom_index_0  atom_index_1       x_0  ...  mulliken_atom_1  pairs_enc  bond_int
0             2             0 -1.661639  ...        -0.207019          2         1
1             2             1 -1.661639  ...        -0.207019         11         1
2             2             3 -1.661639  ...         0.207019         11         1
3             3             0  1.661639  ...        -0.207019         11         1
4             3             1  1.661639  ...        -0.207019          2         1

[5 rows x 38 columns]

In [9]:
test.shape

(2505542, 38)

In [10]:
train.shape

(4658147, 39)

In [11]:
train.columns

Index(['atom_index_0', 'atom_index_1', 'x_0', 'y_0', 'z_0', 'x_1', 'y_1',
       'z_1', 'distance', 'type_enc', 'atom_1_enc', 'atom_0_enc', 'rc_A',
       'rc_B', 'rc_C', 'mu', 'alpha', 'homo', 'lumo', 'gap', 'r2', 'zpve',
       'U0', 'U', 'H', 'G', 'Cv', 'freqs_min', 'freqs_max', 'freqs_mean',
       'linear', 'mulliken_min', 'mulliken_max', 'mulliken_mean',
       'mulliken_atom_0', 'mulliken_atom_1', 'pairs_enc', 'bond_int',
       'scalar_coupling_constant'],
      dtype='object')

In [12]:
test.columns

Index(['atom_index_0', 'atom_index_1', 'x_0', 'y_0', 'z_0', 'x_1', 'y_1',
       'z_1', 'distance', 'type_enc', 'atom_1_enc', 'atom_0_enc', 'rc_A',
       'rc_B', 'rc_C', 'mu', 'alpha', 'homo', 'lumo', 'gap', 'r2', 'zpve',
       'U0', 'U', 'H', 'G', 'Cv', 'freqs_min', 'freqs_max', 'freqs_mean',
       'linear', 'mulliken_min', 'mulliken_max', 'mulliken_mean',
       'mulliken_atom_0', 'mulliken_atom_1', 'pairs_enc', 'bond_int'],
      dtype='object')

# Creating training, validation and testing data

In [13]:
x=train.drop('scalar_coupling_constant',axis=1)
x.head()

   atom_index_0  atom_index_1       x_0  ...  mulliken_atom_1  pairs_enc  bond_int
0             1             0  0.002150  ...        -0.535689          2         1
1             1             2  0.002150  ...         0.133922         11         1
2             1             3  0.002150  ...         0.133923         11         1
3             1             4  0.002150  ...         0.133923         11         1
4             2             0  1.011731  ...        -0.535689          2         1

[5 rows x 38 columns]

In [14]:
y=train['scalar_coupling_constant']
y.head()

0    84.8076
1   -11.2570
2   -11.2548
3   -11.2543
4    84.8074
Name: scalar_coupling_constant, dtype: float64

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
x_train,x_val,y_train,y_val=train_test_split(x,y,test_size=0.3)

In [17]:
print('x_train: {}   y_train: {}'.format(x_train.shape,y_train.shape))
print('x_val: {}   y_val: {}'.format(x_val.shape,y_val.shape))

x_train: (3260702, 38)   y_train: (3260702,)
x_val: (1397445, 38)   y_val: (1397445,)

In [18]:
x_test=test
x_test.shape

(2505542, 38)

# Training & Evaluation

In [32]:
import gc
gc.collect()

328

In [19]:
input_shape=(38,)
model_nn=keras.Sequential()
model_nn.add(keras.layers.Dense(64,activation='relu',input_shape=input_shape))
model_nn.add(keras.layers.Dense(128,activation='relu'))
#model_nn.add(keras.layers.Dense(256,activation='relu'))
#model_nn.add(keras.layers.Dense(512,activation='relu'))
model_nn.add(keras.layers.Dense(128,activation='relu'))
model_nn.add(keras.layers.Dense(64,activation='relu'))
model_nn.add(keras.layers.Dense(8,activation='relu'))
model_nn.add(keras.layers.Dense(1))

model_nn.summary()

WARNING: Logging before flag parsing goes to stderr.
W0814 16:29:07.790420 139934774769536 deprecation.py:506] From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 64)                2496
_________________________________________________________________
dense_1 (Dense)              (None, 128)               8320
_________________________________________________________________
dense_2 (Dense)              (None, 128)               16512
_________________________________________________________________
dense_3 (Dense)              (None, 64)                8256
_________________________________________________________________
dense_4 (Dense)              (None, 8)                 520
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 9
=================================================================
Total params: 36,113
Trainable params: 36,113
Non-trainable params: 0
_________________________________________________________________

In [0]:
model_nn.compile(optimizer='adam',loss='mean_absolute_error')

In [22]:
model_nn.fit(x_train,y_train,epochs=20,batch_size=512,validation_data=(x_val,y_val))

Train on 3260702 samples, validate on 1397445 samples
Epoch 1/20
3260702/3260702 [==============================] - 30s 9us/sample - loss: 3.9214 - val_loss: 3.6140
Epoch 2/20
3260702/3260702 [==============================] - 31s 9us/sample - loss: 3.6764 - val_loss: 3.5721
Epoch 3/20
3260702/3260702 [==============================] - 30s 9us/sample - loss: 3.6493 - val_loss: 3.5280
Epoch 4/20
3260702/3260702 [==============================] - 30s 9us/sample - loss: 3.4700 - val_loss: 3.4285
Epoch 5/20
3260702/3260702 [==============================] - 30s 9us/sample - loss: 3.3946 - val_loss: 3.3059
Epoch 6/20
3260702/3260702 [==============================] - 30s 9us/sample - loss: 3.3506 - val_loss: 3.2760
Epoch 7/20
3260702/3260702 [==============================] - 30s 9us/sample - loss: 3.3378 - val_loss: 3.2740
Epoch 8/20
3260702/3260702 [==============================] - 30s 9us/sample - loss: 3.2873 - val_loss: 3.2224
Epoch 9/20
3260702/3260702 [==============================] - 30s 9us/sample - loss: 3.2718 - val_loss: 3.1942
Epoch 10/20
3260702/3260702 [==============================] - 30s 9us/sample - loss: 3.2518 - val_loss: 3.1543
Epoch 11/20
3260702/3260702 [==============================] - 30s 9us/sample - loss: 3.2284 - val_loss: 3.2699
Epoch 12/20
3260702/3260702 [==============================] - 31s 9us/sample - loss: 3.2187 - val_loss: 3.1921
Epoch 13/20
3260702/3260702 [==============================] - 30s 9us/sample - loss: 3.1948 - val_loss: 3.1754
Epoch 14/20
3260702/3260702 [==============================] - 30s 9us/sample - loss: 3.1817 - val_loss: 3.1148
Epoch 15/20
3260702/3260702 [==============================] - 30s 9us/sample - loss: 3.1672 - val_loss: 3.0871
Epoch 16/20
3260702/3260702 [==============================] - 30s 9us/sample - loss: 3.1565 - val_loss: 3.1197
Epoch 17/20
3260702/3260702 [==============================] - 30s 9us/sample - loss: 3.1391 - val_loss: 3.1351
Epoch 18/20
3260702/3260702 [==============================] - 30s 9us/sample - loss: 3.1364 - val_loss: 3.1110
Epoch 19/20
3260702/3260702 [==============================] - 30s 9us/sample - loss: 3.1257 - val_loss: 3.0460
Epoch 20/20
3260702/3260702 [==============================] - 30s 9us/sample - loss: 3.1071 - val_loss: 3.0453

# Train on whole data

In [23]:
model_nn.fit(x,y,epochs=5,batch_size=512,validation_data=(x_val,y_val))

Train on 4658147 samples, validate on 1397445 samples
Epoch 1/5
4658147/4658147 [==============================] - 41s 9us/sample - loss: 3.1120 - val_loss: 3.0486
Epoch 2/5
4658147/4658147 [==============================] - 41s 9us/sample - loss: 3.0955 - val_loss: 3.1948
Epoch 3/5
4658147/4658147 [==============================] - 41s 9us/sample - loss: 3.0829 - val_loss: 3.0855
Epoch 4/5
4658147/4658147 [==============================] - 41s 9us/sample - loss: 3.0748 - val_loss: 2.9660
Epoch 5/5
4658147/4658147 [==============================] - 40s 9us/sample - loss: 3.0661 - val_loss: 3.0940

# Serialize the model

In [0]:
tf.keras.models.save_model(model_nn,'kaggle_model_nn_v2_with_bonds.h5',overwrite=True,include_optimizer=True)

In [0]:
!ls

# Create Submission file

In [37]:
import gc
gc.collect()

634

In [25]:
#test=pd.read_csv('test_feat_eng_v2.csv')
test_predictions=model_nn.predict(test,verbose=1,batch_size=10000)
test_predictions[:10]

2505542/2505542 [==============================] - 1s 1us/sample

array([[ 20.150017 ],
       [  0.5381685],
       [ -3.6198368],
       [  0.5381685],
       [  4.5417128],
       [ 74.119545 ],
       [ -9.192482 ],
       [ -5.4883533],
       [-11.815308 ],
       [ 75.20229  ]], dtype=float32)

In [26]:
test_predictions.shape

(2505542, 1)

In [27]:
sample_submission=pd.read_csv('sample_submission.csv.zip')
sample_submission.head()

        id  scalar_coupling_constant
0  4658147                         0
1  4658148                         0
2  4658149                         0
3  4658150                         0
4  4658151                         0

In [28]:
sample_submission['scalar_coupling_constant']=test_predictions
sample_submission.head()

        id  scalar_coupling_constant
0  4658147                 20.150017
1  4658148                  0.538168
2  4658149                 -3.619837
3  4658150                  0.538168
4  4658151                  4.541713

In [0]:
sample_submission.to_csv('sample_submission_external_feat_v2_with_bonds.csv',index=False)

In [35]:
!ls

data.covs.pickle
dipole_moments.csv.zip
kaggle.json
kaggle_model_nn_v2_04.h5
magnetic_shielding_tensors.csv.zip
mulliken_charges.csv.zip
potential_energy.csv.zip
sample_data
sample_submission.csv.zip
sample_submission_distance_baseline_test_02.csv
sample_submission_external_feat_v2_01.csv
scalar_coupling_contributions.csv.zip
structures.csv.zip
structures.zip
test.csv.zip
test_etl.csv
test_feat_eng_v2.csv
train.csv.zip
train_etl.csv
train_feat_eng_v2.csv

In [44]:
!head sample_submission_distance_baseline_test.csv

id,scalar_coupling_constant
4658147,-3.2472324
4658148,91.86721
4658149,10.933329
4658150,107.796974
4658151,1.5662003
4658152,107.1634
4658153,2.08945
4658154,-11.683802
4658155,-10.687826

# Upload to IBM object store

In [0]:
from ibm_botocore.client import Config
import ibm_boto3
def upload_file_cos(credentials,local_file_name,key):  
    cos = ibm_boto3.client(service_name='s3',
    ibm_api_key_id=credentials['IBM_API_KEY_ID'],
    ibm_service_instance_id=credentials['IAM_SERVICE_ID'],
    ibm_auth_endpoint=credentials['IBM_AUTH_ENDPOINT'],
    config=Config(signature_version='oauth'),
    endpoint_url=credentials['ENDPOINT'])
    try:
        res=cos.upload_file(Filename=local_file_name, Bucket=credentials['BUCKET'],Key=key)
    except Exception as e:
        print(Exception, e)
    else:
        print('File Uploaded')

In [0]:
upload_file_cos(credentials_2,'sample_submission_test_3.csv','sample_submission_test_3.csv')

In [0]:
upload_file_cos(credentials_2,'kaggle_model_nn_03.h5','kaggle_model_nn_03.h5')