<a href="https://colab.research.google.com/github/ss-ghule/kaggle_predicting_molecular_properties/blob/master/kaggle_combined_features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [2]:
import gc
gc.collect()

552

In [0]:
train_v2=pd.read_csv('train_feat_eng_v2.csv')
train_orig=pd.read_csv('train_feat_eng.csv')

In [4]:
train_v2.head()

   atom_index_0  atom_index_1  ...  mulliken_atom_1  scalar_coupling_constant
0             1             0  ...        -0.535689                   84.8076
1             1             2  ...         0.133922                  -11.2570
2             1             3  ...         0.133923                  -11.2548
3             1             4  ...         0.133923                  -11.2543
4             2             0  ...        -0.535689                   84.8074

[5 rows x 37 columns]

In [5]:
train_orig.head()

   pairs_enc  distance  bond_int  type_enc  scalar_coupling_constant
0          2  1.091953         1         0                   84.8076
1         11  1.783120         1         3                  -11.2570
2         11  1.783147         1         3                  -11.2548
3         11  1.783157         1         3                  -11.2543
4          2  1.091952         1         0                   84.8074

In [6]:
print(train_v2.shape)
print(train_orig.shape)

(4658147, 37)
(4658147, 5)

In [0]:
train_v2['pairs_enc']=train_orig['pairs_enc']
train_v2['bond_int']=train_orig['bond_int']

In [8]:
train_v2.head()

   atom_index_0  atom_index_1  ...  pairs_enc  bond_int
0             1             0  ...          2         1
1             1             2  ...         11         1
2             1             3  ...         11         1
3             1             4  ...         11         1
4             2             0  ...          2         1

[5 rows x 39 columns]

In [10]:
train_v2.columns

Index(['atom_index_0', 'atom_index_1', 'x_0', 'y_0', 'z_0', 'x_1', 'y_1',
       'z_1', 'distance', 'type_enc', 'atom_1_enc', 'atom_0_enc', 'rc_A',
       'rc_B', 'rc_C', 'mu', 'alpha', 'homo', 'lumo', 'gap', 'r2', 'zpve',
       'U0', 'U', 'H', 'G', 'Cv', 'freqs_min', 'freqs_max', 'freqs_mean',
       'linear', 'mulliken_min', 'mulliken_max', 'mulliken_mean',
       'mulliken_atom_0', 'mulliken_atom_1', 'scalar_coupling_constant',
       'pairs_enc', 'bond_int'],
      dtype='object')

In [0]:
train_v2=train_v2[['atom_index_0', 'atom_index_1', 'x_0', 'y_0', 'z_0', 'x_1', 'y_1',
       'z_1', 'distance', 'type_enc', 'atom_1_enc', 'atom_0_enc', 'rc_A',
       'rc_B', 'rc_C', 'mu', 'alpha', 'homo', 'lumo', 'gap', 'r2', 'zpve',
       'U0', 'U', 'H', 'G', 'Cv', 'freqs_min', 'freqs_max', 'freqs_mean',
       'linear', 'mulliken_min', 'mulliken_max', 'mulliken_mean',
       'mulliken_atom_0', 'mulliken_atom_1', 
       'pairs_enc', 'bond_int','scalar_coupling_constant']]

In [13]:
train_v2.head()

   atom_index_0  atom_index_1  ...  bond_int  scalar_coupling_constant
0             1             0  ...         1                   84.8076
1             1             2  ...         1                  -11.2570
2             1             3  ...         1                  -11.2548
3             1             4  ...         1                  -11.2543
4             2             0  ...         1                   84.8074

[5 rows x 39 columns]

In [0]:
train_v2.to_csv('train_feat_eng_v2_with_bonds.csv',index=False)

# Test

In [0]:
test_v2=pd.read_csv('test_feat_eng_v2.csv')
test_orig=pd.read_csv('test_feat_eng.csv')

In [15]:
test_v2.head()

   atom_index_0  atom_index_1  ...  mulliken_atom_0  mulliken_atom_1
0             2             0  ...         0.207019        -0.207019
1             2             1  ...         0.207019        -0.207019
2             2             3  ...         0.207019         0.207019
3             3             0  ...         0.207019        -0.207019
4             3             1  ...         0.207019        -0.207019

[5 rows x 37 columns]

In [16]:
test_orig.head()

   pairs_enc  distance  bond_int  total_charge        dp  type_enc
0          2  2.261178         0      0.057238 -0.211400         2
1          2  1.062099         1      0.057238 -0.099297         0
2         11  3.323277         0      0.240297 -0.006518         6
3          2  1.062099         1      0.057238 -0.099297         0
4          2  2.261178         0      0.057238 -0.211400         2

In [17]:
print(train_v2.shape)
print(train_orig.shape)

(4658147, 39)
(4658147, 5)

In [0]:
test_v2['pairs_enc']=train_orig['pairs_enc']
test_v2['bond_int']=train_orig['bond_int']

In [20]:
train_v2.columns

Index(['atom_index_0', 'atom_index_1', 'x_0', 'y_0', 'z_0', 'x_1', 'y_1',
       'z_1', 'distance', 'type_enc', 'atom_1_enc', 'atom_0_enc', 'rc_A',
       'rc_B', 'rc_C', 'mu', 'alpha', 'homo', 'lumo', 'gap', 'r2', 'zpve',
       'U0', 'U', 'H', 'G', 'Cv', 'freqs_min', 'freqs_max', 'freqs_mean',
       'linear', 'mulliken_min', 'mulliken_max', 'mulliken_mean',
       'mulliken_atom_0', 'mulliken_atom_1', 'pairs_enc', 'bond_int',
       'scalar_coupling_constant'],
      dtype='object')

In [21]:
test_v2.columns

Index(['atom_index_0', 'atom_index_1', 'x_0', 'y_0', 'z_0', 'x_1', 'y_1',
       'z_1', 'distance', 'type_enc', 'atom_0_enc', 'atom_1_enc',
       'scalar_coupling_constant', 'rc_A', 'rc_B', 'rc_C', 'mu', 'alpha',
       'homo', 'lumo', 'gap', 'r2', 'zpve', 'U0', 'U', 'H', 'G', 'Cv',
       'freqs_min', 'freqs_max', 'freqs_mean', 'linear', 'mulliken_min',
       'mulliken_max', 'mulliken_mean', 'mulliken_atom_0', 'mulliken_atom_1',
       'pairs_enc', 'bond_int'],
      dtype='object')

In [0]:
test_v2.to_csv('test_feat_eng_v2_with_bonds.csv',index=False)